.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: white;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.primary-bg {
  background-color: #70bbfd;
  color: white;
}

.danger-bg {
  background-color: #ff4761;
  color: white;
}

.success-bg {
  background-color: #4ce1b6;
}

.secondary-bg {
  background-color: #e7e2e2;
  color: #646777;
}

.scroll-y {
  overflow-y: scroll;
}

.width-100vw {
  width: 100vw;
}

.text-center {
  text-align: center;
}

.margin-10 {
  margin: 10px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

h3 {
  font-size: 32px;
  color: #5b6367;
  text-shadow: 0 2px rgba(0,0,0,.1);
}

input {
  width: 200px;
  padding: 8px 6px;
  outline: none;
  border: none;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

label p {
  margin: 8px 0 2px 0;
}

button {
  outline: none;
  background-color: rgb(74, 219, 255);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  margin: 0 10px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  transition-duration: 0.3s;
}

button:hover {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
}